@import "~bootstrap/scss/bootstrap";
// FREEMAN FONT
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
// ROBOTO FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;  background-color: #3535ec;

    main {
        flex-grow: 1;
    }
    
    .headerNav,
    footer {
        background-color: #3535ec
    }
  
    .headerNav{
        box-shadow: 5px ;
    }
}

body {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.rob4 {
 
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
   
}

.active {
    color: orange !important;
}



    .btn--action{
        font-size: 1.5rem;
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 1.5rem;
        background-color: white;
        color: black;
        transition: all .5s ease 0s; 
        box-shadow: 0 10px #18186c;
      }


   
      
      /* .btn--action:hover{
      box-shadow: inset 0 0 0 .25rem #ffbe76;
      } */
      
      .btn--action span{
        display: inline-block;
        position: relative;
        transition: all .5s ease;
      }
      
      .btn--action span::before{
        content: '🧑🏻‍🍳'; 
        display: inline-block;
        position: absolute;
        top: 50%;
        font-size: 2rem;
        transform: translate(-100%, -50%);
        left: 1.5rem;
        opacity: 0;
        transition: all .1s ease 0s;
      }
      
.btn--action:hover {
    background-color: #2929b9 ;
}

      .btn--action:hover span{
        padding-left: 1.5rem; 
       
      }
      
      .btn--action:hover span:before{
        left: 0;
        opacity: 1;
      }
      
      .btn--action:active {
        box-shadow: 0 5px #58e888;
        transform: translateY(5px);
      }

    //   .register {
    //     background-color: white;
    //     border: none;
    //     border-radius: 100px;
    //     font-size: 1.5rem;
    //     padding: 20px 40px;
    //     transition: all .5s ease;     }